<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/css/estilo-pocp.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <header>
        <div class="topnav">
            <a class="active" th:href="@{/inicio}">Home</a>
            <a href="#new">New</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </header>

    <br>
    <h2 style="text-align: center;">Globlal Warming Potential (GWP)</h2>
  
 
        <div class="container">
            <table class="table" style="text-align: center;">
                <thead class="table-dark">
                    <tr>
                        
                        <th scope="col">Name</th>
                        <th scope="col">Formula</th>
                        <th scope="col">GWP 20 yr</th>
                        <th scope="col">GWP 100 yr</th>
                        <th scope="col">GWP 500 yr</th>
                        <th scope="col">Action</th>
                        
                    </tr>
                </thead>
                <tbody th:each="lista:${listaCalentamiento}">
                	<tr>
                	
                        <th th:text="${lista.nombreCompuesto}"></th>
                        <th th:text="${lista.formulaCompuesto}"></th>
                        <td th:text="${lista.gwp20}"></td>
                        <td th:text="${lista.gwp100}"></td>
                        <td th:text="${lista.gwp500}"></td>
                       <td>
                       <a th:href="@{/calentamiento/modificarap/__${lista.id}__}" class="btn btn-warning">Modify</a>
                       <a th:href="@{/calentamiento/eliminar/__${lista.id}__}" class="btn btn-danger">Delete</a>
                       </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <br>
        <div class="d-grid gap-2 col-3 mx-auto">
            <a th:href="@{/inicio}" class="btn btn-success">Back</a>
            
          </div>
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>